* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  color: #444;
  line-height: 1.9;
}

.section {
  height: 100vh;
}

.s1 {
  background-color: #6f61c0;
}
.s2 {
  background-color: #a084e8;
}
.s3 {
  background-color: #8be8e5;
}
.s4 {
  background-color: #d5ffe4;
}
.s5 {
  background-color: #91c8e4;
}
