* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  color: #444;
  line-height: 1.9;
}

.content {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  gap: 4rem;
  text-align: center;
}

.section {
  height: 100vh;
}

h1 {
  font-size: 5rem;
}

p {
  /* padding-top: 6rem; */
  width: 120rem;
  font-size: 3rem;
}

.s1 {
  background-color: #6f61c0;
}
.s2 {
  background-color: #a084e8;
}
.s3 {
  background-color: #8be8e5;
}
.s4 {
  background-color: #d5ffe4;
}
.s5 {
  background-color: #91c8e4;
}
